<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %>
    <main class="vista-recupero-contrasenia container my-3">
        <div class="row">
            <div class="col-12 col-md-7 col-lg-5">
                <h2>Cambio de contraseña</h2>
                
                <p>Nombre de usuario: <%=result.name%></p>
                <p>Email de usuario: <%= result.email %></p>
                
                <h4>Nueva contraseña</h4>
                <form action="/users/nuevaContrasenia/<%=result.id%>?_method=PUT" method="POST">
                    <div class="row">
                        <div class="col-8 cambio-contrasenia">
                            <input type="password" id="contraseniaNueva" name="nuevaContasenia" placeholder="Inrese su contraseña" class="form-control">
                            <i class="fas fa-eye btn" id="botonDeCambio"></i>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary" type="submit">Enviar</button>
                        </div>
                    </div>
                    
                    <span id="contraNuevaError" class="text-danger"><%= (typeof errores != 'undefined' && errores.nuevaContasenia) ? errores.nuevaContasenia.msg : "" %></span>
                    
                </form>
            </div>
        </div>
    </main>
    
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %> 
    <script src="/javascripts/passwordVerification.js"></script>
</body>
</html>