<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %> 
<body>
  <%- include('../partials/header') %>
  
  <h1 class="my-4 text-white bg-dark border-bottom border-danger">Editar Perfil</h1>
  
  <form action="/users/edit/<%= userNew.id %>?_method=PUT " method="POST">
    <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" placeholder="Nombre" name="nombre" value="<%= userNew.username %>">
          <label >Nombre</label>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="form-floating mb-3">
          <input type="text" class="form-control"  placeholder="Apellido" name="apellido" value="<%= userNew.apellido %> ">
          <label >Apellido</label>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="form-floating mb-3">
          <input type="text"class="form-control" placeholder="Email" name="email" value="<%= userNew.email %> ">
          <label >Email</label>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="form-floating mb-3">
          <input type="text"class="form-control" placeholder="Pais" name="pais" value="<%= userNew.pais %> ">
          <label >Pais</label>
        </div>
      </div>
    </div>
  </div>
    <!-- d-grid gap-2 -->
    <div class="d-flex justify-content-between my-3 mx-3">
      <button class="btn btn-success" type="submit">Guardar los cambios</button>
      <a href="/" class="btn btn-danger">Cancelar</a> 
    </div>
    
  </form>
  
  
  <%- include('../partials/footer') %>
  <%- include('../partials/scripts') %> 
  
</body>
</html>