<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %> 
<body>
    <header class="rgtrs container-fluid">
        <div class="row">
            <div class="my-3 col-6 col-md-3 col-lg-2"><a href="/"><img src="/images/mascoshop_logo.png" alt="" class="w-100" ></a></div>
            <div class="txt d-flex align-items-center justify-content-center col-6 col-lg-4 col-xl-4">
                <span>¡ Todo lo que tu mejor amigo necesita <i class="fas fa-paw"></i> ! </span>
            </div>
            <div class="perritos col-3 col-lg-6 col-xl-6 text-center">
                <img src="/images/header/6275beb2b1ee9e8b6e3165f64bce0893-secuencia-de-perro-corriendo-7-by-vexels.png" alt="">
                <img src="/images/header/b11541a04df1cd433b41d24302527553-secuencia-de-perro-corriendo-by-vexels.png" alt="">
                <img src="/images/header/be3eddba5705a321e4f69e930cdabc5b-secuencia-de-perro-corriendo-1-by-vexels.png" alt="">
                <img src="/images/header/d62201989552ef4beacf49d9b5a7e1a3-secuencia-de-perro-corriendo-4-by-vexels.png" alt="">
            </div>
        </div>
    </header>
    
    <main class="register container my-5 py-3">
        <h2>Registro</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <input type="text" name="name" placeholder="Nombre" class="form-control" value="<%= (typeof old != 'undefined' && old.name) ? old.name : ""%>" >
                <span class="text-danger"><%= (typeof errores != 'undefined' && errores.name) ? errores.name.msg : "" %>  </span>
            </div>
            <div class="mb-3">
                <input type="text" name="apellido" placeholder="Apellido" class="form-control"  value="<%= (typeof old != 'undefined' && old.apellido) ? old.apellido : ""%>" >
                <span class="text-danger"><%= (typeof errores != 'undefined' && errores.apellido) ? errores.apellido.msg : "" %>  </span>
            </div>
            <div class="mb-3">
                <input type="email" name="email" placeholder="Email" class="form-control"  value="<%= (typeof old != 'undefined' && old.email) ? old.email : ""%>" >
                <span class="text-danger"><%= (typeof errores != 'undefined' && errores.email) ? errores.email.msg : "" %>  </span>
            </div>
            <div class="mb-3">
                <input type="password" name="passUno" placeholder="Contraseña" class="form-control">
                <span class="text-danger"><%= (typeof errores != 'undefined' && errores.passUno) ? errores.passUno.msg : "" %>  </span>
            </div>
            <div class="mb-3">
                <input type="password" name="passDos" placeholder="Repetir contraseña" class="form-control">
                <span class="text-danger"><%= (typeof errores != 'undefined' && errores.passDos) ? errores.passDos.msg : "" %>  </span>
            </div>
           <!--  <select class="mb-3 form-select" name="pais" aria-label="Default select example">
                <option selected>Seleccione su país</option>
                <option value="Argentina">Argentina</option>
                <option value="Brasil">Brasil</option>
                <option value="Chile">Chile</option>
                <option value="Bolivia">Bolivia</option>
                <option value="Venezuela">Venezuela</option>
                <option value="Peru">Peru</option>
                <option value="Mexico">México</option>
            </select> -->
            <div class="mb-3">
                <input type="file" name="avatar" class="form-control">
            </div>
            <span class="text-danger"><%= (typeof errores != 'undefined' && errores.avatar) ? errores.avatar.msg : "" %></span>
            
            <div class="botones my-3">
                <div class="boton-dos">
                    <button type="submit" class="mb-3 btn btn-primary">Registrarme</button>
                </div>
                
                <a href="/" class="mb-3 btn btn-danger">Cancelar</a>
                
                
            </form>
        </main>
        
        
        
        <%- include('../partials/scripts') %> 
        
    </body>
    </html>