<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 
    <main class="carga-productos container my-5">
        <h2 class="py-3">Formulario edicion de producto: <span style="text-transform: uppercase;"><%= product.name %></span></h2>
        <div class="row">
            <div class="col-12 col-lg-6">
                <form action="/products/productEdit/<%= product.id %>?_method=PUT" method="POST">
                    <select name="category" class="form-select mb-3">
                        <option selected>Categoria</option>
                        <option value="perros">Perros</option>
                        <option value="gatos">Gatos</option>
                        <option value="aves">Aves</option>
                        <option value="peces">Peces</option>
                        <option value="roedores">Roedores</option>
                        <option value="reptiles">Reptiles</option>
                    </select>
                    <select name="subcategory" class="form-select mb-3">
                        <option selected>Sub-categoria</option>
                        <option value="accesorios">Accesorios</option>
                        <option value="alimentos">Alimentos</option>
                    </select>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="name" placeholder="Nombre del producto" value="<%= product.name %>">
                        <label>Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="precio" placeholder="Precio" value="<%= product.precio %> ">
                        <label>Precio</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="stock" placeholder="Stock disponible" value="<%= product.stock %> ">
                        <label>Stock</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="discount" placeholder="0,15,30,50" value="<%= product.discount %> ">
                        <label>Descuento 0,15,30,50</label>
                    </div>
                    <div class="mb-3">
                        <label class="mb-3" style="color: white;">Descripción</label>
                        <textarea name="description" placeholder="Descripcion" class="form-control"><%= product.description %> </textarea>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="imagen" name="img" value="<%= product.img %> ">
                        <label>Imagen</label>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="reset" class="btn btn-danger mb-3">Cancelar</button>
                        <button type="submit" class="btn btn-primary mb-3">Confirmar edicion</button>
                    </div>
                </form>
            </div>
            
        </div>
    </main>
    <%- include('../partials/footer') %> 
    <%- include('../partials/scripts') %> 
</body>
</html>