<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 
    <main class="carga-productos container my-5">
        <h2 class="py-3">Formulario carga de productos</h2>
        <div class="row">
            <div class="col-12 col-lg-6">
                <form action="/products/productAdd" method="POST" enctype="multipart/form-data"><!-- viaja a allProducts.ejs -->
                    <select name="category" class="form-select mb-3">
                        <option selected>Categoria</option>
                        <option value="perros">Perros</option>
                        <option value="gatos">Gatos</option>
                        <option value="aves">Aves</option>
                        <option value="peces">Peces</option>
                        <option value="roedores">Roedores</option>
                        <option value="reptiles">Reptiles</option>
                    </select>
                    <span class="text-danger"><%= (typeof errores != 'undefined' && errores.category) ? errores.category.msg : "" %>  </span>
                    <select name="subcategory" class="form-select mb-3">
                        <option selected>Sub-categoria</option>
                        <option value="accesorios">Accesorios</option>
                        <option value="alimentos">Alimentos</option>
                    </select>
                    <span class="text-danger"><%= (typeof errores != 'undefined' && errores.subcategory) ? errores.subcategory.msg : "" %>  </span>
                    <!-- subcategory -->
                    <div class="mb-3">
                        <input type="text" class="form-control" name="name" placeholder="Nombre del producto">
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.name) ? errores.name.msg : "" %>  </span>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="precio" placeholder="Precio">
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.precio) ? errores.precio.msg : "" %>  </span>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="stock" placeholder="Stock disponible">
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.stock) ? errores.stock.msg : "" %>  </span>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="discount" placeholder="0,15,30,50">
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.discount) ? errores.discount.msg : "" %>  </span>
                    </div>
                    <div class="mb-3">
                        <textarea name="description" placeholder="Descripcion"  class="form-control"></textarea>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.description) ? errores.description.msg : "" %>  </span>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label" style="color: white;">Cargar imagen</label>
                        <input type="file" class="form-control" id="seleccionArchivos" name="img">
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="reset" class="btn btn-danger mb-3">Cancelar</button>
                        <button type="submit" class="btn btn-primary mb-3">Confirmar carga</button>
                    </div>
                </form>
            </div>
            
        </div>
    </main>
    <%- include('../partials/footer') %> 
    <%- include('../partials/scripts') %> 
</body>
</html>