<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
  <%- include('partials/header') %>
  
  <main class="index container my-3">
 
    <h2>Nuestros productos</h2>
    
    <!-- productos destacados -->
    <div class="row my-4">

      <% products.forEach(element=>{ %>
        <section class="col-12 col-md-6 col-lg-4 col-xl-3 my-3 nuestros-productos">
          <div class="lista-productos"><!-- elementos individuales que se veran -->
            <a href="/products/productDetail/<%= element.id %>#product-detail">
              <div class="image-contain">
                <img src="/images/productos/<%=element.imagenProducto[0].product_name%>" alt="">
                <% if(element.discount != 0){ %> 
                  <div class="discount"><%= element.discount %>%</div>
                  <% } %> 
                </div>
                <h3><%= element.name %></h3>
                <p>$<%= toThousand(element.precio - parseInt(element.precio * element.discount / 100)) %></p>
              </a>
              <button class="btn btn-primary"><i class="fas fa-shopping-bag"></i> Agregar al carrito</button>
              <% if (userNew.category==="Admin") { %>
                <form action="/products/productDelete/<%= element.id %>?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                  <a href="/products/productEdit/<%= element.id %>" class="btn btn-success my-3"><i class="far fa-edit"></i></a>
                </form>
              <% } %>			
            </div>
          </section> 
          <% }) %>
          
        </div>
        <!-- productos destacados -->
        
        <%- include('partials/instruct') %> 
        
      </main>
      
      <%- include('partials/footer') %>
      <%- include('partials/scripts') %> 
      
    </body>
    </html>