<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %> 

<body>
  
  <%- include('partials/header') %>
  
  <!-- Banner -->
  <div class="banner container-fluid">
    <div  id="carouselExampleIndicators" class="banner carousel carousel-dark slide col-lg-12" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/publi.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/publi2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/publi3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/publi4.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>
  <!-- Banner -->
  
  <main class="index container my-3">
    
    <h2>Productos destacados</h2>
    
    <!-- productos productosAlCincuenta -->
    <div class="glider-contain">
			<div class="glider">
        <% productosAlCincuenta.forEach(element=>{ %>
				<div class="contenido-producto">
          <a href="/products/productDetail/<%= element.id %>#product-detail">
            <div class="image-contain">
              <img src="/images/productos/<%=element.imagenProducto[0].product_name%>" alt="">
              <div class="discount"><%= element.discount %>%</div>
            </div>
            <h3><%= element.name %></h3>
            <p>$<%= toThousand(element.precio - parseInt(element.precio * element.discount / 100)) %></p>
          </a>
					<button class="btn btn-primary"><i class="fas fa-shopping-bag"></i> Agregar al carrito</button>
				</div>
        <% }) %> 
      </div>
			
			<button aria-label="Previous" class="glider-prev">«</button><!-- boton izquierdo -->
			<button aria-label="Next" class="glider-next">»</button><!-- boton derecho -->
		</div>
      <!-- productosAlTreinta -->
      
      <h2>Productos destacados</h2>
      
      <div class="glider-contain">
        <div class="glider1">
          <% productosAlTreinta.forEach(element=>{ %>
          <div class="contenido-producto">
            <a href="/products/productDetail/<%= element.id %>#product-detail">
              <div class="image-contain">
                <img src="/images/productos/<%=element.imagenProducto[0].product_name%>" alt="">
                <div class="discount"><%= element.discount %>%</div>
              </div>
              <h3><%= element.name %></h3>
              <p>$<%= toThousand(element.precio - parseInt(element.precio * element.discount / 100)) %></p>
            </a>
            <button class="btn btn-primary"><i class="fas fa-shopping-bag"></i> Agregar al carrito</button>
          </div>
          <% }) %> 
        </div>
        
        <button aria-label="Previous" class="glider-prev prev1">«</button><!-- boton izquierdo -->
        <button aria-label="Next" class="glider-next next1">»</button><!-- boton derecho -->
      </div>
        
        <%- include('partials/instruct') %> 
        
      </main>
      <!-- productos destacados -->
      
      <%- include('partials/footer') %>
      <%- include('partials/scripts') %> 
      
    </body>
    </html>