<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %> 

<body>

  <%- include('partials/header') %>

   <!-- Banner -->
   <div class="banner container-fluid">
    <div  id="carouselExampleIndicators" class="banner carousel carousel-dark slide col-lg-12" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/publi.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/publi2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/publi3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/publi4.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>
  <!-- Banner -->

  <main class="index container my-3">
    
    <div class="imagenes-compra">
      <div><img src="/images/md-pago.png" alt=""></div>
      <div><img src="/images/medios-de-pago.jpg" alt=""></div>
      <div><img src="/images/delivery.jpg" alt=""></div>
      <div><img src="/images/consultas.jpg" alt=""></div>
    </div>
    
    
    <h2>Productos destacados</h2>
    
    <!-- productos destacados -->
    <div class="carousel">
      <div class="carousel__contenedor">
        <button aria-label="Anterior" class="carousel__anterior"><!-- ARIAL-LABEL Para dispositivos de lectura, boton anterior -->
          <i class="fas fa-chevron-left"></i>
        </button>
        
        <div class="carousel__lista">
          <% products.forEach(element=>{ %>
          <div class="carousel__elemento contenido-producto"><!-- elementos individuales que se veran -->
            <a href="/products/productDetail/<%= element.id %>#product-detail">
              <div class="img-content">
                <img src="/images/productos/<%=element.imagenProducto[0].product_name%>" alt="">
                <div class="descuento"><span><i class="fas fa-tags"></i><br> <%= element.discount %>%</span></div>
              </div>         
              <p><%= element.name %></p>
              <p class="precio">$<%= toThousand(element.precio - parseInt(element.precio * element.discount / 100)) %></p>
              <button class="btn btn-primary"><i class="fas fa-shopping-bag"></i> Agregar al carrito</button>
            </a>			
          </div>
          <% }) %> 
        </div>
        
        <button aria-label="Siguiente" class="carousel__siguiente"><!-- boton siguiente -->
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
      
    </div>
      <!-- productos destacados -->
      
      <%- include('partials/instruct') %> 
      
    </main>
    <!-- productos destacados -->
    
    <%- include('partials/footer') %>
    <%- include('partials/scripts') %> 
    
  </body>
  </html>