<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
  <%- include('partials/header') %>
  
  <main class="index container my-3">
    
    <div class="imagenes-compra">
      <div><img src="/images/md-pago.png" alt=""></div>
      <div><img src="/images/medios-de-pago.jpg" alt=""></div>
      <div><img src="/images/delivery.jpg" alt=""></div>
      <div><img src="/images/consultas.jpg" alt=""></div>
    </div>
    
    
    <h2>Nuestros productos</h2>
    
    <!-- productos destacados -->
    <div class="row my-3">
      
      <% result.forEach(element=>{ %>
        <section class="col-12 col-md-6 col-lg-4 col-xl-3 vista-producto">
          <div class="contenido-producto"><!-- elementos individuales que se veran -->
            <a href="/products/productDetail/<%= element.id %>#product-detail">
              <div class="img-content">
                <img src="/images/productos/<%=element.imagenProducto[0].product_name%>" alt="">
                <% if(element.discount != 0){ %> 
                  <div class="descuento"><span><i class="fas fa-tags"></i><br> <%= element.discount %>%</span></div>
                  <% } %> 
                </div>         
                <p><%= element.name %></p>
                <p class="precio">$<%= toThousand(element.precio - parseInt(element.precio * element.discount / 100)) %></p>
                <button class="btn btn-primary"><i class="fas fa-shopping-bag"></i> Agregar al carrito</button>
              </a>			
            </div>
          </section> 
          <% }) %>
          
        </div>
        <!-- productos destacados -->
        
        <%- include('partials/instruct') %> 
        
      </main>
      
      
      <%- include('partials/footer') %>
      <%- include('partials/scripts') %> 
      
    </body>
    </html>