<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
  <%- include('partials/header') %>
  
  <main class="index container my-3">
    
    <div class="imagenes-compra">
      <div><img src="/images/md-pago.png" alt=""></div>
      <div><img src="/images/medios-de-pago.jpg" alt=""></div>
      <div><img src="/images/delivery.jpg" alt=""></div>
      <div><img src="/images/consultas.jpg" alt=""></div>
    </div>
    
    
    <h2>Nuestros productos</h2>
    
    <!-- productos destacados -->
    <div class="row my-3">
      
      <% result.forEach(element=>{ %> 
        <section class="my-3 col-12 col-md-6 col-lg-4 col-xl-3">
          <a href="/products/productDetail/<%= element.id %>">
            <figure>
              <img src="/images/productos/<%= element.imagenProducto[0].product_name %> " alt="" class="w-100">
              <h5><%= element.name %> </h5>
              <% if(element.discount != 0){ %> 
                <div class="descuento"><span><i class="fas fa-tags"></i><br> <%= element.discount %>%</span></div>
                <% } %>    
              </figure>
              <div class="precio-producto">
                <h5 style="color: #f37121;">PRECIO LISTA</h5>
                <p>$<%= toThousand(element.precio - parseInt(element.precio * element.discount / 100)) %> </p>
              </div>
            </a>
          </section>
          <% }) %> 
          
        </div>
        <!-- productos destacados -->
        
        <div class="instructivo-compra">
          <article>
            <img src="/images/inst-carrito.png" alt="">
            <p>Agregá a tu carrito los productos que necesitas.</p>
          </article>
          <article>
            <img src="/images/inst-pagos.png" alt="">
            <p>Elegí el medio de pago que desees y aprovechá nuestras promos.</p>
          </article>
          <article>
            <img src="/images/inst-pedido.png" alt="">
            <p>Recibí tu pedido o coordiná un punto de retiro.</p>
          </article> 
        </div>
        
        <div class="publi-footer my-3">
          <div><img src="/images/publi-footer.jpg" alt=""></div>
          <div><img src="/images/publi-2-footer.jpg" alt=""></div>
          <div><img src="/images/publi-3-footer.jpg" alt=""></div> 
        </div>
        
      </main>
      
      
      <%- include('partials/footer') %>
      <%- include('partials/scripts') %> 
      
    </body>
    </html>