<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
  <%- include('partials/header') %>
  
  <main class="product-detail container my-3">
    
    <!-- product-detail -->
    <div class="ruta-producto my-3">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/products/productCategory/<%= laCategoria.name %>"><%= laCategoria.name %></a></li>
        <li><a href="/products/productSubcategory/<%= laSubCategoria.name %>"><%= laSubCategoria.name %></a></li>
        <li><a href="#"><%= product.name %></a></li>
      </ul>
    </div>
    
    <div class="row">
      <aside class="col-md-2 desplegable-cat">
        <ul>
          <h6>Buscar por categoria: </h6>
          <li><a href="/products/productCategory/perros">Perros</a></li>
          <li><a href="/products/productCategory/gatos">Gatos</a></li>
          <li><a href="/products/productCategory/aves">Aves</a></li>
          <li><a href="/products/productCategory/peces">Peces</a></li>
          <li><a href="/products/productCategory/roedores">Roedores</a></li>
          <li><a href="/products/productCategory/reptiles">Reptiles</a></li>
        </ul>
      </aside>
      
      <section class="col-12 col-md-10">
        <div class="row">
          <!-- img -->
          <div class="col-12 col-md-6"> 
            <img src="/images/productos/<%=product.imagenProducto[0].product_name %>" class="d-block w-100" alt="...">
          </div> 
          <!-- img -->
          <div class="col-12 col-md-6 detalle-prod">
            <h3><%= product.name %></h3>
            <h2>$<%= toThousand(product.precio - parseInt(product.precio * product.discount / 100)) %>
              <% if(product.discount != 0){ %> 
                <span> $<%= toThousand(product.precio) %></span>
                <% } %> 
              </h2>
              <% if(product.discount != 0){ %> 
                <p><%= product.discount %>% OFF</p>
                <% } %>
                <p>Stock-Disponible: <%= product.stock %> u.</p>
                <button class="btn btn-warning mb-3"><i class="fas fa-shopping-bag"></i> Agregar al carrito</button>
                <!-- <div class="pago">
                  <img src="/images/pagos.png" alt="">
                </div> -->
              </div>
              
              <div class="col-12 my-3 descrip">
                Descripción:
                <p><%= product.description %></p>                      
              </div>
              
            </div>
          </section>
        </div>
        <!-- product-detail -->  
        
        <!-- product relacionados -->
        
        <div class="product-relacionados row my-3">
          
          <h2>Productos relacionados</h2>
          
          <!--  -->
          <div class="glider-contain">
            <div class="glider">
              <% productosRelacionados.forEach(element=>{ %>
                <% if(element.id == product.id){ %>
                  <% return null %> 
                  <% }else{ %>
                    <% } %>   
                    <div class="contenido-producto">
                      <a href="/products/productDetail/<%= element.id %>#product-detail">
                        <div class="image-contain">
                          <img src="/images/productos/<%=element.imagenProducto[0].product_name%>" alt="">
                          <% if(element.discount != 0){ %> 
                            <div class="discount"><%= element.discount %>%</div>
                            <% } %> 
                          </div>
                          <h3><%= element.name %></h3>
                          <p>$<%= toThousand(element.precio - parseInt(element.precio * element.discount / 100)) %></p>
                        </a>
                        <button class="btn btn-primary"><i class="fas fa-shopping-bag"></i> Agregar al carrito</button>
                      </div>
                      <% }) %> 
                    </div>
                    
                    <button aria-label="Previous" class="glider-prev">«</button><!-- boton izquierdo -->
                    <button aria-label="Next" class="glider-next">»</button><!-- boton derecho -->
                  </div>
                  <!--  -->
                  
                </div>
                <!-- productos relacionados -->
                
                <%- include('partials/instruct') %> 
                
              </main> 
              
              <%- include('partials/footer') %>
              <%- include('partials/scripts') %> 
              
            </body>
            </html>