<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
  <%- include('partials/header') %>
  
  <main class="product-detail container my-3">
    
    <div class="imagenes-compra">
      <div><img src="/images/md-pago.png" alt=""></div>
      <div><img src="/images/medios-de-pago.jpg" alt=""></div>
      <div><img src="/images/delivery.jpg" alt=""></div>
      <div><img src="/images/consultas.jpg" alt=""></div>
    </div>
    
    <!-- product-detail -->
    <div class="ruta-producto my-3">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/products/productCategory/<%= laCategoria.name %>"><%= laCategoria.name %></a></li>
        <li><a href="/products/productSubcategory/<%= laSubCategoria.name %>"><%= laSubCategoria.name %></a></li>
        <li><a href="#"><%= product.name %></a></li>
      </ul>
    </div>
    
    <div class="row">
      <aside class="col-md-2 desplegable-cat">
        <ul>
          <h6>Buscar por categoria: </h6>
          <li><a href="/products/productCategory/perros">Perros</a></li>
          <li><a href="/products/productCategory/gatos">Gatos</a></li>
          <li><a href="/products/productCategory/aves">Aves</a></li>
          <li><a href="/products/productCategory/peces">Peces</a></li>
          <li><a href="/products/productCategory/roedores">Roedores</a></li>
          <li><a href="/products/productCategory/reptiles">Reptiles</a></li>
        </ul>
      </aside>
      
      <section class="col-12 col-md-10">
        <div class="row">
          <!-- img -->
          <div class="col-12 col-md-6"> 
            <div id="carouselExampleControls" class="borde-producto carousel carousel-ligth slide">
              <div class="fondo-producto carousel-inner">
                <div class="carousel-item active">
                  <img src="/images/productos/<%=product.imagenProducto[0].product_name %>" class="d-block w-100" alt="...">
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </a>
              </div>
            </div>
          </div> 
          <!-- img -->
          <div class="col-12 col-md-6 detalle-prod">
            <h3><%= product.name %></h3>
            <h2>$<%= toThousand(product.precio - parseInt(product.precio * product.discount / 100)) %>
              <% if(product.discount != 0){ %> 
              <span> $<%= toThousand(product.precio) %></span>
              <% } %> 
            </h2>
              <% if(product.discount != 0){ %> 
                <p><%= product.discount %>% OFF</p>
                <% } %>
            <p>Stock-Disponible: <%= product.stock %> u.</p>
            <button class="btn btn-warning mb-3"><i class="fas fa-shopping-bag"></i> Agregar al carrito</button>
            <!-- <div class="pago">
              <img src="/images/pagos.png" alt="">
            </div> -->
          </div>
          
          <div class="col-12 my-3 descrip">
            Descripción:
            <p><%= product.description %></p>                      
          </div>
          
        </div>
      </section>
    </div>
    <!-- product-detail -->  
    
    
    
    <!-- product relacionados -->
    
    <div class="product-relacionados row my-3">
      
      <h2>Productos relacionados</h2>
      
      <div class="carousel">
        <div class="carousel__contenedor">
          <button aria-label="Anterior" class="carousel__anterior"><!-- ARIAL-LABEL Para dispositivos de lectura, boton anterior -->
            <i class="fas fa-chevron-left"></i>
          </button>
          
          <div class="carousel__lista">
            <% productosRelacionados.forEach(element=>{ %>
              <div class="carousel__elemento contenido-producto"><!-- elementos individuales que se veran -->
                <a href="/products/productDetail/<%= element.id %>#product-detail">
                  <div class="img-content">
                    <img src="/images/productos/<%=element.imagenProducto[0].product_name%>" alt="">
                    <% if(element.discount != 0){ %> 
                      <div class="descuento"><span><i class="fas fa-tags"></i><br> <%= element.discount %>%</span></div>
                      <% } %> 
                    </div>         
                    <p><%= element.name %></p>
                    <p class="precio">$<%= toThousand(element.precio - parseInt(element.precio * element.discount / 100)) %></p>
                    <button class="btn btn-primary">Agregar al carrito</button>
                  </a>			
                </div>
                <% }) %> 
              </div>
              
              <button aria-label="Siguiente" class="carousel__siguiente"><!-- boton siguiente -->
                <i class="fas fa-chevron-right"></i>
              </button>
            </div>
            
          </div>
          
        </div>
        <!-- productos relacionados -->
        
        <%- include('partials/instruct') %> 
        
      </main> 
      
      <%- include('partials/footer') %>
      <%- include('partials/scripts') %> 
      
    </body>
    </html>