<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
  <%- include('partials/header') %>
  
  <main class="index container my-3">
    
    <div class="ruta-producto my-3">
      <ul>
        <li><a href="/">Volver a la página de inicio</a></li>
        <li><a href="/products/productCategory/<%= subcategoria %>">Listado de <%= subcategoria %></a></li>
      </ul>
    </div>
    
    <!-- productos destacados -->
    <div class="row my-3">
      
      <aside class="col-md-2 desplegable-cat">
        <ul>
          <h6>Buscar por categoria: </h6>
          <li><a href="/products/productCategory/perros">Perros</a></li>
          <li><a href="/products/productCategory/gatos">Gatos</a></li>
          <li><a href="/products/productCategory/aves">Aves</a></li>
          <li><a href="/products/productCategory/peces">Peces</a></li>
          <li><a href="/products/productCategory/roedores">Roedores</a></li>
          <li><a href="/products/productCategory/reptiles">Reptiles</a></li>
        </ul>
      </aside>
      
      <div class="col-12 col-md-10">
        <div class="row d-flex justify-content-center">
          <% result.forEach(element=>{ %>
            <section class="col-12 col-md-6 col-lg-4 col-xl-3 my-3 nuestros-productos">
              <div class="lista-productos"><!-- elementos individuales que se veran -->
                <a href="/products/productDetail/<%= element.id %>#product-detail">
                  <div class="image-contain">
                    <img src="/images/productos/<%=element.imagenProducto[0].product_name%>" alt="">
                    <% if(element.discount != 0){ %> 
                      <div class="discount"><%= element.discount %>%</div>
                      <% } %> 
                    </div>
                    <h3><%= element.name %></h3>
                    <p>$<%= toThousand(element.precio - parseInt(element.precio * element.discount / 100)) %></p>
                  </a>
                  <button class="btn btn-primary"><i class="fas fa-shopping-bag"></i> Agregar al carrito</button>			
                </div>
              </section> 
              <% }) %>
            </div>
          </div>
          
        </div>
        <!-- productos destacados -->
        
        <div class="instructivo-compra">
          <article>
            <img src="/images/inst-carrito.png" alt="">
            <p>Agregá a tu carrito los productos que necesitas.</p>
          </article>
          <article>
            <img src="/images/inst-pagos.png" alt="">
            <p>Elegí el medio de pago que desees y aprovechá nuestras promos.</p>
          </article>
          <article>
            <img src="/images/inst-pedido.png" alt="">
            <p>Recibí tu pedido o coordiná un punto de retiro.</p>
          </article> 
        </div>
        
      </main>
      
      <%- include('partials/footer') %>
      <%- include('partials/scripts') %> 
      
    </body>
    </html>