<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
  <%- include('partials/header') %>
  
  <main class="index container my-3">

    <h2>Resultados de busqueda</h2>
    
    <!-- productos destacados -->
    <div class="row my-3">
      
      <% if(search[0] != undefined){ %> 
        <% search.forEach(element=>{ %>
          <section class="col-12 col-md-6 col-lg-4 col-xl-3 vista-producto">
            <div class="contenido-producto"><!-- elementos individuales que se veran -->
              <a href="/products/productDetail/<%= element.id %>#product-detail">
                <div class="img-content">
                  <img src="/images/productos/<%=element.imagenProducto[0].product_name%>" alt="">
                  <% if(element.discount != 0){ %> 
                    <div class="descuento"><span><i class="fas fa-tags"></i><br> <%= element.discount %>%</span></div>
                    <% } %> 
                  </div>         
                  <p><%= element.name %></p>
                  <p class="precio">$<%= toThousand(element.precio - parseInt(element.precio * element.discount / 100)) %></p>
                  <button class="btn btn-primary"><i class="fas fa-shopping-bag"></i> Agregar al carrito</button>
                </a>			
              </div>
            </section> 
            <% }) %>
            <% }else{ %>
              <section class="col-12">
                <h5 style="color: white;">No se encontraron resultados de busqueda en nuestra base de datos</h5>
              </section>
              <% } %> 
            </div>
            <!-- productos destacados -->
            
            <%- include('partials/instruct') %> 
            
          </main>
          <!-- productos destacados -->
          
          <%- include('partials/footer') %>
          <%- include('partials/scripts') %> 
          
        </body>
        </html>